<div class="min-h-screen flex justify-center items-center px-4 sm:px-0">
    <div class="absolute inset-0 z-10 pointer-events-none">
        <img src="assets/images/hero.png" alt="Hero" class="absolute left-0 bottom-0 max-h-[70vh] object-contain" />

        <!-- Üst: Balonlar -->
        <div class="absolute top-[22px]  flex gap-16 justify-start items-start z-20 left-[100px]">
            <div *ngIf="steps[currentStep]?.message" class="flex-1 flex flex-col items-start">

                <!-- Balon resmi ve metni -->
                <div class="relative cursor-pointer">
                    <!-- Balon PNG – alt katman -->
                    <img [src]="'assets/images/balon.png'" alt="Balon" class="w-[400px] h-auto z-0" />

                    <!-- Mesaj – üst katman -->
                    <div class="absolute inset-0 z-10 w-[300px] left-[50px] 
           flex items-center justify-center -translate-y-5
           px-6  text-center text-base font-semibold text-black leading-snug pointer-events-none">
                        {{ steps[currentStep].message }}
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="relative py-3 sm:max-w-xl sm:mx-auto w-full">

        <div class="relative py-3 sm:max-w-xl sm:mx-auto w-full">
            <div class="align-items-center align-items-center z-0" style="height: 100px;">
                <img src="assets/images/ogrenci_card.png" alt="Hero"
                    class="absolute left-0 bottom-0 max-h-[100vh] object-contain" />
            </div>
            <div class="max-w-sm mx-auto w-full align-items-center z-20" style="height: 380px;">
                <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-8 max-w-[35vh] ml-8 z-20">
                    <ng-container *ngIf="steps.length > 0">
                        <div class="relative">
                            <!-- Dynamic Input -->
                            <ng-container [ngSwitch]="steps[currentStep].type">
                                <!-- TEXT -->

                                <!-- fullName -->
                                @if (steps[currentStep].field === 'fullName'){
                                <div class="position-relative d-flex flex-column align-items-center"
                                    style="min-height: 70px;">
                                    <!-- Hata Mesajı (absolute, üstte ortalı) -->
                                    @if (form.controls['fullName'].invalid && form.controls['fullName'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>}
                                    <!-- Input -->
                                    <input cFormControl formControlName="fullName"
                                        placeholder="{{ steps[currentStep].label }}" sizing="lg" type="text"
                                        class="w-100 mt-4" />
                                </div>}



                                <!-- school -->
                                @if (steps[currentStep].field === 'school'){
                                <div class="position-relative d-flex flex-column align-items-center"
                                    style="min-height: 70px;">
                                    @if (form.controls['school'].invalid && form.controls['school'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>}


                                    <input cFormControl formControlName="school"
                                        placeholder="{{ steps[currentStep].label }}" sizing="lg" type="text"
                                        class="w-100 mt-4" />


                                </div>}

                                <!-- class -->
                                @if (steps[currentStep].field === 'class'){
                                <div class="position-relative d-flex flex-column align-items-center"
                                    style="min-height: 70px;">
                                    @if (form.controls['class'].invalid && form.controls['class'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>}


                                    <input cFormControl formControlName="class"
                                        placeholder="{{ steps[currentStep].label }}" sizing="lg" type="text"
                                        class="w-100 mt-4" />


                                </div>}

                                <!-- schoolNumber -->
                                @if (steps[currentStep].field === 'schoolNumber'){
                                <div class="position-relative d-flex flex-column align-items-center"
                                    style="min-height: 70px;">
                                    @if (form.controls['schoolNumber'].invalid &&
                                    form.controls['schoolNumber'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>}


                                    <input cFormControl formControlName="schoolNumber"
                                        placeholder="{{ steps[currentStep].label }}" sizing="lg" type="text"
                                        class="w-100 mt-4" />


                                </div>}


                                <!-- favoriteSubject -->
                                @if (steps[currentStep].field === 'favoriteSubject'){
                                <div class="position-relative d-flex flex-column align-items-center"
                                    style="min-height: 70px;">
                                    @if (form.controls['favoriteSubject'].invalid &&
                                    form.controls['favoriteSubject'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }}
                                    </div>}

                                    <select [formControlName]="steps[currentStep].field" cSelect sizing="lg"
                                        class="w-100 mt-4">
                                        <option>{{ steps[currentStep].label }}</option>
                                        <option *ngFor="let opt of steps[currentStep].options" [value]="opt">{{ opt }}
                                        </option>
                                    </select>
                                </div>}

                                <!-- hobbies -->
                                @if (steps[currentStep].field === 'hobbies'){
                                <div class="position-relative d-flex align-items-center"
                                    style="min-height: 70px;">
                                    @if (form.controls['hobbies'].invalid &&
                                    form.controls['hobbies'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }}
                                    </div>}
                                    <c-form-check *ngFor="let opt of steps[currentStep].options"
                                        class="w-full mt-4">
                                        <input cFormCheckInput id="checkOne" type="checkbox" [value]="opt"
                                            (change)="onMultiSelectChange(steps[currentStep].field, $event)"
                                            [checked]="form.value[steps[currentStep].field]?.includes(opt)" />
                                        <label cFormCheckLabel for="checkOne">{{ opt }}</label>
                                    </c-form-check>
                                </div>}

                                <!-- futureDream -->
                                @if (steps[currentStep].field === 'futureDream'){
                                <div class="position-relative d-flex flex-column align-items-center"
                                    style="min-height: 70px;">
                                    @if (form.controls['futureDream'].invalid &&
                                    form.controls['futureDream'].touched){
                                    <div
                                        class="position-absolute top-0 start-50 translate-middle-x text-danger small text-center">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>}


                                    <input cFormControl formControlName="futureDream"
                                        placeholder="{{ steps[currentStep].label }}" sizing="lg" type="text"
                                        class="w-100 mt-4" />


                                </div>}

                                <!-- quiz1 -->
                                <div *ngIf="steps[currentStep].field === 'quiz1'">
                                    <input type="text" formControlName="quiz1"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['quiz1']?.invalid && form.controls['quiz1']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- quiz2 -->
                                <div *ngIf="steps[currentStep].field === 'quiz2'">
                                    <input type="text" formControlName="quiz2"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['quiz2']?.invalid && form.controls['quiz2']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- branch -->
                                <div *ngIf="steps[currentStep].field === 'branch'">
                                    <input type="text" formControlName="branch"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['branch']?.invalid && form.controls['branch']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- classCount -->
                                <div *ngIf="steps[currentStep].field === 'classCount'">
                                    <input type="text" formControlName="classCount"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['classCount']?.invalid && form.controls['classCount']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- experience -->
                                <div *ngIf="steps[currentStep].field === 'experience'">
                                    <input type="text" formControlName="experience"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['experience']?.invalid && form.controls['experience']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- language -->
                                <div *ngIf="steps[currentStep].field === 'language'">
                                    <input type="text" formControlName="language"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['language']?.invalid && form.controls['language']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- childrenCount -->
                                <div *ngIf="steps[currentStep].field === 'childrenCount'">
                                    <input type="text" formControlName="childrenCount"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['childrenCount']?.invalid && form.controls['childrenCount']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- studentNames -->
                                <div *ngIf="steps[currentStep].field === 'studentNames'">
                                    <input type="text" formControlName="studentNames"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['studentNames']?.invalid && form.controls['studentNames']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- contactPreference -->
                                <div *ngIf="steps[currentStep].field === 'contactPreference'">
                                    <input type="text" formControlName="contactPreference"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['contactPreference']?.invalid && form.controls['contactPreference']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- email -->
                                <div *ngIf="steps[currentStep].field === 'email'">
                                    <input type="text" formControlName="email"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                <!-- password -->
                                <div *ngIf="steps[currentStep].field === 'password'">
                                    <input type="password" formControlName="password"
                                        placeholder="{{ steps[currentStep].label }}"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                                    <label
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                        {{ steps[currentStep].label }}
                                    </label>
                                    <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>

                                

                                <!-- QUIZ -->
                                <div *ngSwitchCase="'quiz'" class="space-y-2">
                                    <label *ngFor="let opt of steps[currentStep].options"
                                        class="flex items-center gap-2">
                                        <input type="radio" [formControlName]="steps[currentStep].field"
                                            [value]="opt" />
                                        <span>{{ opt }}</span>
                                    </label>
                                    <div *ngIf="form.controls[steps[currentStep].field]?.invalid && form.controls[steps[currentStep].field]?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        {{ steps[currentStep].label }} girilmelidir.
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>

                    <!-- Butonlar -->
                    <div class="relative flex justify-between">
                        <button type="button" (click)="prevStep()"
                            class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
                            Geri
                        </button>

                        <button type="button" *ngIf="!isLastStep()" (click)="nextStep()"
                            class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700">
                            İleri
                        </button>

                        <button type="submit" *ngIf="isLastStep()"
                            class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
                            Kaydı Tamamla
                        </button>
                    </div>
                </form>
            </div>


        </div>

    </div>
    <lagel></lagel>